extends layout.pug

block content
  .container
    h1.title Basic Daily Task Manager
    p.app-description This App is for Creating Daily Tasks so that you will keep up with it.
    a.btn-tasks(href=`/tasks`) Go To the Tasks
        

